.container{
    display: inline;
    text-align: center;
    margin-bottom:  100px;
    background-color: brown;
}
label {
    display: inline-block;
    text-align: center;
}
input[type="text"] {
    width: 50%;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 1000px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.list {
    display: flex;
    text-align: center;
    background-color: black;
}
nav a{
    text-decoration: none;
    font-weight: 40;
    font-size: x-large;
    font-family: serif;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 150px;
    justify-content: center;
    padding-left: 20px;
    margin-left: 20px;
    background-color: black;
}
nav {
    display: inline;
    text-align: center;
    margin-left: 250px;
}
li a {
    text-decoration: none;
    color: black;
}
.kk{
    float:right;
    margin-right: 15px;
    margin-top: 90px;
    width: 50%;
    margin-bottom: 20px;

}
.loo {
        margin-left: 150px;

}
.welcome {
    text-align: center;
    background: #000;
    color: white;
}
#about {
    text-align: center;
    font-size: larger;
}
.section {
    text-align: center;
    margin: 10px;
    
}

#section1 {
    flex: 1;
    text-align: start;
}

#section2 {
    flex: 2;
    text-align: start;
}

#section3 {
    flex: 1;
    text-align: start;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 12px;
    padding: 12px;
    width: 200px;
}

.product-img {
    max-width: 100%;
    height: auto;
}

div button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button a {
 text-decoration: none;
 color: white;
 font-size: medium;
 font-weight: lighter;
}
